[project]
	description = Retrieve images from Flickr using JSON or XML
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nickpiscopio
[access "refs/for/refs/*"]
	read = group user/nickpiscopio
	push = group user/nickpiscopio
	label-Code-Review = -2..+2 group user/nickpiscopio
	label-Verified = -1..+1 group user/nickpiscopio
	rebase = group user/nickpiscopio
	removeReviewer = group user/nickpiscopio
	submit = group user/nickpiscopio
[access "refs/heads/*"]
	read = group user/nickpiscopio
	create = group user/nickpiscopio
	push = +force group user/nickpiscopio
	pushMerge = group user/nickpiscopio
[access "refs/tags/*"]
	push = +force group user/nickpiscopio
	pushTag = group user/nickpiscopio
	pushSignedTag = group user/nickpiscopio
